#root {
  margin: 0 auto;
  padding: 1 rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* undefault css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  background-color: #2196F3;
  padding: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.2px solid rgba(0, 0, 0, 0.8);
  padding: 13px;
  text-align: center;
}

.start{
  background-color: green;
}

.end{
  background-color: red;
}

.wall{
  background-color: black;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

#solve-button{
  width: 300px;
  margin: 0.5rem;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

#generate-walls-button{
  width: 200px;
  background: linear-gradient(to top left, #720e9e, #33006F);
  margin: 0.5rem;
}

#refresh-button{
  width: 200px;
  background: linear-gradient(to top left, #3a6186, #333399);
  margin: 0.5rem;
}

#speed-slider {
  -webkit-appearance: none;
  background: #ffffff;
  height: 2px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
  direction: rtl;
}

.nav-items {
  list-style: none;
  display: flex; 
}

.navbar {
  display: inline-block;
  display: inline-flex; 
}

.items{
  margin-top: 1rem;
}

.title{
  margin: 35px;
  padding: 0;
  font-family: monospace;
}

.slider{
  margin-top: 28px;
  margin-left: 10px;
  display: flex;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #0b4375;
  margin: 2rem;
  padding: 2rem;
  border: 1px #ffffff solid;
  border-radius: 10px;
}

.start-node{
  background-color: green;
  width: 20px;
  height: 20px;
  border: 1px #ffffff solid;
  margin-right: 1rem;
}

.end-node{
  background-color: red;
  width: 20px;
  height: 20px;
  border: 1px #ffffff solid;
  margin-right: 1rem;
}

.empty-node{
  background-color: rgba(255, 255, 255, 0.8);
  width: 20px;
  height: 20px;
  border: 1px #ffffff solid;
  margin-right: 1rem;
}

.wall-node{
  background-color: black;
  width: 20px;
  height: 20px;
  border: 1px #ffffff solid;
  margin-right: 1rem;
}

.legend-labels{
  margin-right: 5rem;
}